<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="hera管理系统">
		<title>HERA后台</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/metisMenu.min.css">
		<link rel="stylesheet" href="../../css/timeline.css">
		<link rel="stylesheet" href="../../css/sb-admin-2.css">
		<link rel="stylesheet" href="../../css/morris.css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<script src="../../js/jquery.min.js"></script>
		<!-- 配置文件 -->
		<script type="text/javascript" src="../../ueditor/ueditor.config.js"></script>
		<!-- 编辑器源码文件 -->
		<script type="text/javascript" src="../../ueditor/ueditor.all.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="main.html">HERA</a>
				</div>
				<!-- /.navbar-header -->

				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown tesk">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<i class="fa fa-tasks fa-fw"></i> 新任务
										<span class="pull-right text-muted small">2015-07-06</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-file-text-o fa-fw"></i> 新申请
										<span class="pull-right text-muted small">2015-07-06</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>全部消息</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
						<!-- /.dropdown-alerts -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown user">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a data-toggle="modal" data-target="#me"><i class="fa fa-user fa-fw"></i> 查看个人资料</a>
							</li>
							<li class="divider"></li>
							<li><a href=""><i class="fa fa-sign-out fa-fw"></i> 退出</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.navbar-top-links -->

				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li>
								<a href="main.html"><i class="fa fa-bar-chart-o fa-fw"></i>主页</a>
							</li>
							<li>
								<a href=""><i class="fa fa-institution fa-fw"></i>内部管理<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">部门管理</a>
									</li>
									<li>
										<a href="">人员管理
                                </a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-phone fa-fw"></i> 通讯录</a>
							</li>
							<li>
								<a href=""><i class="fa fa-bug fa-fw"></i> BUG追踪系统</a>
							</li>
							<li>
								<a href=""><i class="fa fa-tasks fa-fw"></i> 任务管理<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">下发任务</a>
									</li>
									<li>
										<a href="">任务记录</a>
									</li>

								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-file-text-o fa-fw"></i> 申请系统<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">新的申请</a>
									</li>
									<li>
										<a href="">申请审核</a>
									</li>
									<li>
										<a href="">申请记录</a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa glyphicon-yen fa-fw"></i>财务</a>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-group fa-fw"></i>客户管理</a>
							</li>
							<li>
								<a href=""><i class="fa fa-folder fa-fw"></i>文档上传</a>
							</li>
							<li>
								<a href=""><i class="fa fa-list-alt fa-fw"></i> 报告<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">写报告</a>
									</li>
									<li>
										<a href="">报告总汇</a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>

		</div>
		<div class="modal fade" id="me">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">员工详情</h4>
					</div>
					<div class="modal-body">
						<img src="../../images/2.jpg" class="img-circle main-img " />
						<div class="main-info-1">
							<p class="fa fa-user"></p>姓名&nbsp;:&nbsp;&nbsp;林潇键
							<br />
							<p class="fa fa-circle-o"></p>性别&nbsp;:&nbsp;&nbsp;男
							<br />
							<p class="fa fa-phone-square"></p>联系方式&nbsp;:&nbsp;&nbsp;15919791250
							<br />
							<p class="fa fa-envelope-o"></p>邮箱&nbsp;:&nbsp;&nbsp;673011332@qq.com
							<br />
							<p class="fa fa-smile-o"></p>年龄&nbsp;:&nbsp;&nbsp;20
							<br/>
							<p class="fa fa-sun-o"></p>生日&nbsp;:&nbsp;&nbsp;07-06
							<br />
							<p class="fa fa-group"></p>部门&nbsp;:&nbsp;&nbsp;技术部
							<br />
							<p class="fa fa-search"></p>职位&nbsp;:&nbsp;&nbsp;工程师
							<br>
							<p class="fa fa-clock-o"></p>入职时间&nbsp;:&nbsp;&nbsp;2015-02-01
							<br />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

		<div class="container-fluid contain-right">
			<div class="container-fluid">
				<div class="title row">
					<div class="col-lg-11">
						<h1>部门管理</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<hr>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-2 department-area">
						<a href="#" class="thumbnail department info" data-toggle="modal" data-target="#departmentModal" id="">
							<img alt="" class="department-img" src="../../images/2.jpg">
						</a>

						<h6 class="department-test" style="display: block" id="">林潇键</h6>
						<p style="display: none" id="">
						</p>
						<p style="display: none" id="">
						</p>
						<div class="row department-button form-group" style="display:none">
							<button class="btn btn-primary update" data-toggle="modal" data-target="#revise-modal" id="">修改</button>
							<button class="btn btn-danger delete" id="">删除</button>
						</div>
					</div>
					<div class="col-lg-2" id="add-department-button">
						<div class="add-button form-group">
							<button type="button" class="btn btn-default" id="add" data-toggle="modal" data-target="#myModal"><i class="fa  fa-plus"></i> </button>
							<h6 id="add-department-test">添加部门</h6>
						</div>
					</div>
				</div>
			</div>
			<div class="modal fade" id="myModal">
				<!--添加部门用模态框-->
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">部门设置</h4>
						</div>
						<div class="modal-body">
							<form action="" method="post" enctype="multipart/form-data">

								<div class="row">
									<div class="col-lg-12">
										<label>部门名称</label>
										<input class="form-control" id="departmentName" required="required" name="name">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部长名称</label>
										<input class="form-control" id="departmentManage" required="requtired" name="manager">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部门职责</label>
										<textarea class="form-control" rows="3" id="departmentDuty" required="required" name="duty"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部门图片</label>
										<input type="file" class="form-control" name="deppic">
									</div>
								</div>

								<div class="modal-footer">
									<button type="submit" class="btn btn-primary" id="add-department">添加</button>
								</div>
							</form>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!--修改用-->
			<div class="modal fade" id="revise-modal">
				<div class="modal-dialog">
					<div class="modal-content">
						<form action="" method="post" enctype="multipart/form-data">
							<input style="display: none" id="upid" class="form-control" value="" name="id">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">修改部门资料</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-lg-12">
										<label>部门名称</label>
										<input id="upname" class="form-control" value="" name="name">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部长名称</label>
										<input id="upmanager" class="form-control" value="" name="manager">
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部门职责</label>
										<textarea id="upduty" class="form-control" rows="3" value="" name="duty"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-12">
										<label>部门图片</label>
										<input type="file" class="form-control" name="deppics">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary">修改</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="modal fade" id="departmentModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">部门详情</h4>
						</div>
						<div class="modal-body">
							<label>部门名</label>
							<p id="infoname"></p>
							<label>部长</label>
							<p id="infomanager"></p>
							<label>职责描述</label>
							<p id="infoduty"></p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>
			<script>
				$(document).ready(function() {
					$('.department-area').mouseenter(function() {
						$(this).children("div .department-test").css("display", "none");
						$(this).children("div .department-button").css("display", "block");
					});
					$('.department-area').mouseleave(function() {
						$(".department-button").css("display", "none");
						$(".department-test").css("display", "block");
					});
				});
				$(".delete").click(function() {
					var id = $(this).attr("id");
					del_dep(id);
				})
				 $(".update").click(function() {
					var id = $(this).attr("id");
					var name = $('#name' + id).text();
					var min = $('#min' + id).text();
					var duty = $('#duty' + id).text();
					$("#upname").val(name);
					$("#upmanager").val(min);
					$("#upid").val(id);
					$("#upduty").html(duty);
				})
				 $(".info").click(function() {
					var id = $(this).attr("id");
					var name = $('#name' + id).text();
					var min = $('#min' + id).text();
					var duty = $('#duty' + id).text();
					$("#infoname").html(name);
					$("#infomanager").html(min);
					$("#infoduty").html(duty);
				})

				function del_dep(id) {
					$.ajax({
						url: "del_department",
						type: "POST",
						data: {
							id: id
						},
						dataType: "JSON",
						success: function(data, state) {
							if (data.result == true) {
								location.reload();
							} else {
								alert(data.result);
							}
						},
						error: function() {
							console.log("fail to connect");
						}
					});
				}
			</script>
			<script src="../../js/bootstrap.min.js"></script>
			<script src="../../js/metisMenu.min.js"></script>
			<script src="../../js/raphael-min.js"></script>
			<script src="../../js/sb-admin-2.js"></script>
	</body>

</html>