<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="hera管理系统">
		<title>HERA后台</title>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/metisMenu.min.css">
		<link rel="stylesheet" href="../../css/timeline.css">
		<link rel="stylesheet" href="../../css/sb-admin-2.css">
		<link rel="stylesheet" href="../../css/morris.css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../css/main.css">
		<script src="../../js/jquery.min.js"></script>
		<!-- 配置文件 -->
		<script type="text/javascript" src="../../ueditor/ueditor.config.js"></script>
		<!-- 编辑器源码文件 -->
		<script type="text/javascript" src="../../ueditor/ueditor.all.js"></script>
	</head>

	<body>
		<div id="wrapper">
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="main.html">HERA</a>
				</div>
				<!-- /.navbar-header -->

				<ul class="nav navbar-top-links navbar-right">
					<li class="dropdown tesk">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-alerts">
							<li>
								<a href="#">
									<div>
										<i class="fa fa-tasks fa-fw"></i> 新任务
										<span class="pull-right text-muted small">2015-07-06</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="#">
									<div>
										<i class="fa fa-file-text-o fa-fw"></i> 新申请
										<span class="pull-right text-muted small">2015-07-06</span>
									</div>
								</a>
							</li>
							<li class="divider"></li>
							<li>
								<a class="text-center" href="#">
									<strong>全部消息</strong>
									<i class="fa fa-angle-right"></i>
								</a>
							</li>
						</ul>
						<!-- /.dropdown-alerts -->
					</li>
					<!-- /.dropdown -->
					<li class="dropdown user">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
						</a>
						<ul class="dropdown-menu dropdown-user">
							<li><a data-toggle="modal" data-target="#me"><i class="fa fa-user fa-fw"></i> 查看个人资料</a>
							</li>
							<li class="divider"></li>
							<li><a href=""><i class="fa fa-sign-out fa-fw"></i> 退出</a>
							</li>
						</ul>
						<!-- /.dropdown-user -->
					</li>
					<!-- /.dropdown -->
				</ul>
				<!-- /.navbar-top-links -->

				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li>
								<a href="main.html"><i class="fa fa-bar-chart-o fa-fw"></i>主页</a>
							</li>
							<li>
								<a href=""><i class="fa fa-institution fa-fw"></i>内部管理<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">部门管理</a>
									</li>
									<li>
										<a href="">人员管理
                                </a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-phone fa-fw"></i> 通讯录</a>
							</li>
							<li>
								<a href=""><i class="fa fa-bug fa-fw"></i> BUG追踪系统</a>
							</li>
							<li>
								<a href=""><i class="fa fa-tasks fa-fw"></i> 任务管理<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">下发任务</a>
									</li>
									<li>
										<a href="">任务记录</a>
									</li>

								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-file-text-o fa-fw"></i> 申请系统<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">新的申请</a>
									</li>
									<li>
										<a href="">申请审核</a>
									</li>
									<li>
										<a href="">申请记录</a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa glyphicon-yen fa-fw"></i>财务</a>
								<!-- /.nav-second-level -->
							</li>
							<li>
								<a href=""><i class="fa fa-group fa-fw"></i>客户管理</a>
							</li>
							<li>
								<a href=""><i class="fa fa-folder fa-fw"></i>文档上传</a>
							</li>
							<li>
								<a href=""><i class="fa fa-list-alt fa-fw"></i> 报告<span class="fa arrow"></span></a>
								<ul class="nav nav-second-level collapse">
									<li>
										<a href="">写报告</a>
									</li>
									<li>
										<a href="">报告总汇</a>
									</li>
								</ul>
								<!-- /.nav-second-level -->
							</li>
						</ul>
					</div>
					<!-- /.sidebar-collapse -->
				</div>
				<!-- /.navbar-static-side -->
			</nav>

		</div>
		<div class="modal fade" id="me">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">员工详情</h4>
					</div>
					<div class="modal-body">
						<img src="../../images/2.jpg" class="img-circle main-img " />
						<div class="main-info-1">
							<p class="fa fa-user"></p>姓名&nbsp;:&nbsp;&nbsp;林潇键
							<br />
							<p class="fa fa-circle-o"></p>性别&nbsp;:&nbsp;&nbsp;男
							<br />
							<p class="fa fa-phone-square"></p>联系方式&nbsp;:&nbsp;&nbsp;15919791250
							<br />
							<p class="fa fa-envelope-o"></p>邮箱&nbsp;:&nbsp;&nbsp;673011332@qq.com
							<br />
							<p class="fa fa-smile-o"></p>年龄&nbsp;:&nbsp;&nbsp;20
							<br/>
							<p class="fa fa-sun-o"></p>生日&nbsp;:&nbsp;&nbsp;07-06
							<br />
							<p class="fa fa-group"></p>部门&nbsp;:&nbsp;&nbsp;技术部
							<br />
							<p class="fa fa-search"></p>职位&nbsp;:&nbsp;&nbsp;工程师
							<br>
							<p class="fa fa-clock-o"></p>入职时间&nbsp;:&nbsp;&nbsp;2015-02-01
							<br />
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div class="container-fluid contain-right" xmlns="http://www.w3.org/1999/html" id="record-bg">
			<div class="row">
				<div class="col-lg-12">
					<h1>任务记录</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<hr>
				</div>
			</div>
			<div class="row row1">
				<div class="col-lg-1 title-left">
					<div></div>
				</div>
				<div class="col-lg-4 title-right">
					<h5>搜索</h5>
				</div>
			</div>
			<div class="row">
				<form action="" method="post">
					<div class="col-lg-6" id="serach-left">
						<div class="row">
							<div class="col-lg-4">
								<select class="form-control" name="type">
									<option name="下发日期">下发日期</option>
									<option name="完成日期">完成日期</option>
								</select>
							</div>
							<div class="col-lg-6">
								<input type="date" class="form-control" name="time1">
							</div>
							<div class="col-lg-2">
								<h5>-到-</h5>
							</div>
						</div>
					</div>
					<div class="col-lg-6" id="serach-right">
						<div class="row">
							<div class="col-lg-6">
								<input type="date" class="form-control" name="time2">
							</div>
							<div class="col-lg-3">
								<select class="form-control" name="name">
									<option>
										梁庆坤
									</option>
								</select>
							</div>
							<div class="col-lg-2">
								<button class="btn btn-primary">搜索</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-lg-5">
					<h4><label>任务详情</label></h4>
				</div>
				<div class="col-lg-2">
					<h4><label>下发人</label></h4>
				</div>
				<div class="col-lg-1 finish-difficulty">
					<h4><label>难度</label></h4>
				</div>
				<div class="col-lg-2">
					<h4><label>下发日期</label></h4>
				</div>
				<div class="col-lg-2">
					<h4><label>完成日期</label></h4>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5">
					测试
				</div>
				<div class="col-lg-2">
					林潇键
				</div>
				<div class="col-lg-1">
					3
				</div>
				<div class="col-lg-2">
					2015-07-06
				</div>
				<div class="col-lg-2">
					2015-09-09
				</div>
			</div>
			<div class="col-sm-6 " id="tl">
				<div class="dataTables_paginate paging_simple_numbers " id="dataTables-example_paginate">
					<ul class="pagination">
						<li class="paginate_button previous" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_previous"><a href="">Previous</a></li>
						<li class="paginate_button active" aria-controls="dataTables-example" tabindex="0">
							<a href="">
												1
											</a>
						</li>
						<li class="paginate_button next" aria-controls="dataTables-example" tabindex="0" id="dataTables-example_next"><a href="">Next</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="main" style="height:500px"></div>
					<script src=""></script>
					<script type="text/javascript">
						 // 路径配置
						require.config({
							paths: {
								echarts:'echarts-2.2.7/build/dist'
							}
						});
						require(
							[
								'echarts',
								'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
							],
							function(ec) {
								// 基于准备好的dom，初始化echarts图表
								var myChart = ec.init(document.getElementById('main'));
								var option = {
									title: {
										text: '未完成任务情况'
									},
									tooltip: {
										show: true
									},
									legend: {
										data: ['未完成任务数', '完成任务数']
									},
									xAxis: [{
										type: 'category',
										data: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"]
									}],
									yAxis: [{
										type: 'value'
									}],
									series: [{
										"name": "未完成任务数",
										"type": "bar",
										"data": []
									}, {
										"name": "完成任务数",
										"type": "bar",
										"data": [ ]
									}, ]
								};
								// 为echarts对象加载数据
								myChart.setOption(option);
							}
						);
					</script>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="cr" style="height: 500px"></div>
					<script type="text/javascript">
						require.config({
							paths: {
								echarts: ''
							}
						});
						require(
							[
								'echarts',
								'echarts/chart/line' // 使用柱状图就加载bar模块，按需加载
							],
							function(ec) {
								var myChart = ec.init(document.getElementById('cr'));
								option = {
									title: {
										text: '任务完成情况'
									},
									tooltip: {
										trigger: 'axis'
									},
									legend: {
										data: ['平均难度', '完成率']
									},
									calculable: true,
									xAxis: [{
										type: 'category',
										boundaryGap: false,
										data: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月']
									}],
									yAxis: [{
										type: 'value'
									}],
									series: [{
										name: '平均难度',
										type: 'line',
										smooth: true,
										itemStyle: {
											normal: {
												areaStyle: {
													type: 'default'
												}
											}
										},
										data: []
									}, {
										name: '完成率',
										type: 'line',
										smooth: true,
										itemStyle: {
											normal: {
												areaStyle: {
													type: 'default'
												}
											}
										},
										data: []
									}, ]
								};
								myChart.setOption(option);
							}
						)
					</script>
				</div>
			</div>
		</div>

		<script src="../../js/bootstrap.min.js"></script>
		<script src="../../js/metisMenu.min.js"></script>
		<script src="../../js/raphael-min.js"></script>
		<script src="../../js/sb-admin-2.js"></script>
	</body>

</html>